<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       >

    <!-- annotation 설정을 위해 추가-->
    <context:annotation-config></context:annotation-config>
    <context:property-placeholder location="classpath:name.properties"></context:property-placeholder>
    <bean class="org.springframework.beans.factory.annotation.CustomAutowireConfigurer">
        <property name="customQualifierTypes">
            <set>
                <value>com.nhnacademy.edu.springframework.annotation.CustomSms</value>
            </set>
        </property>
    </bean>

<!--    <bean id="smsMessageSender"-->
<!--          class="com.nhnacademy.edu.springframework.sender.SmsMessageSender"-->
<!--          scope="singleton"-->
<!--          >-->
<!--        <qualifier type="com.nhnacademy.edu.springframework.annotation.CustomSms">-->
<!--            <attribute key="kind" value="SMS"/>-->
<!--            <attribute key="dummy" value="true"/>-->
<!--        </qualifier>-->
<!--    </bean>-->

    <bean id="emailMessageSender"
          class="com.nhnacademy.edu.springframework.sender.EmailMessageSender"
          scope="singleton"
          >
        <qualifier type="com.nhnacademy.edu.springframework.annotation.CustomSms">
            <attribute key="kind" value="EMAIL"/>
            <attribute key="dummy" value="false"/>
        </qualifier>
    </bean>

    <bean id="messageSendService"
          class="com.nhnacademy.edu.springframework.service.MessageSendService"
    >
    </bean>
</beans>